{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Информация о рассылках</h1>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Общее количество рассылок</div>
                <div class="card-body">
                    <h5 class="card-title">{{ total_campaigns }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Активные рассылки</div>
                <div class="card-body">
                    <h5 class="card-title">{{ active_campaigns }}</h5>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Уникальные получатели</div>
                <div class="card-body">
                    <h5 class="card-title">{{ unique_recipients }}</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
